@import "vars";

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
  color: $white;
  font-size: 14px;
  font-weight: 400;
}

.wrapper-container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

/* Style for head hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
